body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.main-navigation {
  background-color: #ffffff;
  font-weight: bold;
}
.logo {
  width: 140px;;
  height: 71px;
  background: url("../img/logo-sedona.svg");
  background-repeat: no-repeat;
  font-size: 0;
  position: absolute;
  left: 50%;
  margin-left: -70px;
}
/* ----- Сеточные стили блок навигации ----- */


.container {
  width: 1200px;
  margin: 0 auto;
}
.main-navigation {
  position: relative;
}
.site-navigation li {
  width: 239px;
  padding: 15px 0;
}
.site-navigation li:nth-child(2) {
  margin-right: 122px;
}
.site-navigation li:nth-child(3) {
  margin-left: 122px;
}
/*сетка блок навигации конец*/

/*сетка центр*/

.welcome {
  min-height: 508px;
  min-width: 1200px;
}
.content {
  width: 1200px;
  min-height: 2586px;
}
.about-sedona {
  min-height: 99px;
  width: 489px;
  padding: 61px 356px 56px 355px;
}


.reasons-item1 {
  display: flex;
  margin: 0;
  padding: 0;
}
.reasons-item2 {
  display: flex;
  margin: 0;
  padding: 0;
}
.order {
  order: 1;
}
.background-blue {
  background-color: #81b3d2;
  padding-top: 30px;
}
.background-grey {
  background-color: #eeeeee;
  width: 400px;
  margin: 0;
  padding-top: 30px;
  }
.background-white {
  margin: 0;
  width: 400px;
  padding-top: 50px;
}
.reasons-item3 {
  display: flex;
  margin: 0;
  padding: 0;
justify-content: space-between;
}
.more-reasons {
  display: flex;
  margin: 0;
  padding: 0;
}
.booking-map {
  min-height: 884px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.booking-question {
  background-color: #ffffff;
  width: 568px;
  margin: 0;
  padding: 57px 316px 0 316px;
}
.map {
  width: 1200px;
  height: 593px;
}
.booking-form {
  width: 568px;
  margin: 0 auto;
}
.button {
  display: inline-block;
padding: 3px 16px;
margin-right: 6px;
}

/*начало сетки футера*/
.main-footer {
  margin: 0;
  padding: 36px 101px 36px 132px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(0, 1, 1, 0.2);
}
.footer-social {
  display: flex;
}
.footer-copyright {
  display: flex;
  align-items: center;
}
.copyright {
  margin-right: 8px;
}
/*конец сетки футера*/


/*сетка страницы 2*/

.content {
  width: 1200px;
  min-height: 716px;
  margin: 0;
  padding: 0;
}
.search-hotel {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 31px 72px 31px 72px;
}
.infrastructure-wrapper {
  padding-right: 115px;
}
.price-wrapper {
  padding-left: 349px;
}
.sort {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 31px 72px 31px 72px;
   align-items: center;
}
.result {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.hotel-top {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(0, 1, 1, 0.2);

}
.hotel {
  border-top: 2px solid rgba(0, 1, 1, 0.2);
  display: flex;
  align-items: center;


}
.hotel-container {
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hotel-rate {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-between;

}
.rate {
  margin-top: 47px;
}
.hotel-name {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.span {
  display: flex;
  margin: 0;
  padding: 0;
}
.price-from {
  min-width: 110px;
  margin-right: 6px;

}
.buttons {
  display: inline-block;

}
.padding {
  padding: 31px 72px;
}

/****конец 2 страницы*/
.welcome {
  min-height: 510px;
  width: 100%;
  background-image: url("../img/mask.svg"), url("../img/sedona-big.jpg");
  background-repeat: no-repeat;
  background-position: center bottom, center center;
  background-size: contain, cover;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.welcome-text {
  width: 495px;
  height: 353px;
  background-position: center;
  font-size: 0;
  display: block;
  background-image: url("../img/welcome.svg");
  margin: 0 auto;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
.site-navigation-link {
  color: #000000;
  background-color: #ffffff;
}
.site-navigation-link.active {
  color: #766357;
}
.site-navigation-link:hover,
.site-navigation-link:focus {
  color: #81b3d2;
}
.site-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.text-for-reason {
  line-height: 26px;
}
.text-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-weight: bold;
}
.title {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
}
.text-white {
  color: #ffffff;
  background-color: #81b3d2;
}
.reasons-item .text-white {
  background: #81b3d2;
  background-repeat: repeat;
}
.text-black {
  color: #000000;
  background-color: #eeeeee;
  font-weight: bold;
}
.background-grey {
  background-color: #eeeeee;
}
.reasons-item {
  list-style: none;
}
.more-reasons {
  list-style: none;
}
.booking-form {
  font: inherit;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.title-question {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: bold;
}
.booking-text-uppercase {
  line-height: 24px;
  color: #333333;
}
.find {
  font: inherit;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}
.booking-form .text-white {
  font: inherit;
  font-size: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  border: none;
  text-transform: uppercase;
}
.booking-form .text-white:hover,
.booking-form .text-white:focus {
  background-color: #604e43;
}
.booking-form .text-white:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.find:hover,
.find:focus {
  background-color: #669ec0;
}
.find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.booking-form .input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  border: none;
}
.departure-date:hover,
.departure-date:focus {
  color: #000000;
  background-color: #ebebeb;
}
.departure-date:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-color: #e5e5e5;
}
.arrival-date:hover,
.arrival-date:focus {
  color: #000000;
  background-color: #ebebeb;
}
.arrival-date:active {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-color: #e5e5e5;
}
.booking-form label {
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}
.adult-count {
  line-height: 26px;
  background-color: #f2f2f2;
  text-align: center;
}
.children-count {
  line-height: 26px;
  background-color: #f2f2f2;
  text-align: center;
}
.minus {
  font: inherit;
  background-color: #f2f2f2;
}
.plus {
  font: inherit;
  background-color: #f2f2f2;
}
.calendar {
  font: inherit;
  width: 38px;
  height: 38px;
  background-position: center;
  font-size: 0;
  display: block;
  background-image: url("../img/calendar.svg");
  margin: 0 auto;
  background-repeat: no-repeat;
  background-color: #cacaca;
}
.calendar:hover,
.calendar:focus {
  background-color: #ffffff;
}
.calendar:active {
  background-color: #81b3d2;
}
.minus:hover,
.minus:focus {
  background-color: #ffffff;
}
.minus:active {
  background-color: #81b3d2;
}
.plus:hover,
.plus:focus {
  background-color: #ffffff;
}
.plus:active {
  background-color: #81b3d2;
}
button.modal-close {
  color: #000000;
  background-color: #ffffff;
  border: 1px;
  border-color: #000000;
  display: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.footer-social {
  list-style: none;
}
.copyright {
  line-height: 26px;
  color: #000000;
}
.websiteby-button:hover,
.websiteby-button:focus {
  background-color: #81b3d2;
}
.websiteby-button:active {
  background-color: #bdbbbc;
}
.hotel-name h3 {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-align: left;
  background-repeat: no-repeat;
}
.hotel-name:hover h3,
.hotel-name:focus h3 {
  color: #81b3d2;
  background-color: #ffffff;
}
.hotel-name:active h3 {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.hotel-top {
  text-align: left;
  list-style: none;
}
.hotel-top .rate {
  color: #666666;
  text-align: center;
  background-color: #f2f2f2;
}
.hotel-top .hotel-details {
  font: inherit;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
}
.hotel-top .hotel-book {
  font: inherit;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}
.amara-book:hover,
.amara-book:focus {
  color: #ffffff;
  background-color: #604e43;
}
.amara-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.amara-details:hover,
.amara-details:focus {
  color: #ffffff;
  background-color: #669ec0;
}
.amara-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.desert-book:hover,
.desert-book:focus {
  color: #ffffff;
  background-color: #604e43;
}
.desert-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.desert-details:hover,
.desert-details:focus {
  color: #ffffff;
  background-color: #669ec0;
}
.desert-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.villas-book:hover,
.villas-book:focus {
  color: #ffffff;
  background-color: #604e43;
}
.villas-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}
.villas-details:hover,
.villas-details:focus {
  color: #ffffff;
  background-color: #669ec0;
}
.villas-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}
.social-link {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
  display: block;
}
.footer-social li:not(:last-child) {
  margin-right: 8px;
}
.twitter-link {
  background-image: url("../img/twitter.svg");
}
.twitter-link:hover,
.twitter-link:focus {
  background-color: #669ec0;
}
.twitter-link:active {
  background-color: #5496bd;
}
.facebook-link {
  background-image: url("../img/fb-icon.svg");
}
.facebook-link:hover,
.facebook-link:focus {
  background-color: #669ec0;
}
.facebook-link:active {
  background-color: #5496bd;
}
.youtube-link {
  background-image: url("../img/youtube.svg");
}
.youtube-link:hover,
.youtube-link:focus {
  background-color: #669ec0;
}
.youtube-link:active {
  background-color: #5496bd;
}
